error.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="message" type="xs:string"/>
	<xs:element name="details" type="xs:string"/>
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message"/>
				<xs:element ref="details"/>
			</xs:sequence>
			<xs:attribute name="code" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
